<!DOCTYPE html>
<html>
  <!-- Berikut adalah cara memanggil partial di dalam sebuah view -->
  <%- include("partials/head"); %>
  <body>
    <%- include("partials/navbar"); %>
    <div class="container m-4">
      <h1><%= title %></h1>
      <p><%= subTitle %></p>
    </div>
  </body>
</html>

